{% extends "homepage.html" %}

{% block titulo %}
    Perfil - {{usuario}}
{% endblock %}

{% block body %}

    <body>

        <h1>Perfil do usuário: {{ usuario.username }}</h1>

        <!-- Função de logout definida no arquivo de rotas-->
        <a href="{{ url_for('logout')}}">Sair</a>

        <!-- static é o local que armazenamos as imagens. filename é o caminho e o nome da imagem-->
        <img src="{{ url_for('static', filename = 'fotos_posts/default.png') }}">

        {% for foto in usuario.fotos %}
            
        {% endfor %}

    </body>

{% endblock %}